@charset "UTF-8";
	
	body {
        height: 200vh; /* 스크롤을 테스트하기 위해 페이지 높이를 늘립니다 */
    }
	.favorite {
        display: flex;
    }
    .favorite-content {
        margin-left: 310px;
    }
	.title {
         margin: 50px 0 0 0 ;
         text-align: center;
    }
    .nav-tabs {
    	margin-top: 30px;
    	margin-bottom: 0;
        justify-content: center;
        border-bottom: none !important;         
    }    
    .nav-tabs .nav-item {
	    margin-bottom: -1px; /* 탭 아래쪽 테두리 제거 */
	    border: none !important;
	}
    .nav-tabs .nav-link {
        font-size: 15px; 
        font-family: 'Cafe24SsurroundAir';
        border: none !important;
        color: #000000;
    }
	.nav-tabs:hover .nav-link:hover {
	    color: #000000; /* 비활성화된 탭의 텍스트 색상을 검은색으로 변경 */
	    border: none;
	}
	.nav-tabs .nav-link.active {
	    font-weight: bold;
	    border: none !important;
	}
    #sort-select {
    	margin-top: 10px;
    	margin-right: 40px;
    	margin-bottom: 0px;
    }
    .tab-content {
    	border-top: 0;
	    margin-top: -1px;
    	width: 1000px; 
    	min-height: 800px;
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;
	    margin-top: 15px;
	    margin-left: 10px;
	    flex-wrap: wrap;
	    flex-direction: column;
	    overflow: hidden;
	}
	#favorite-list {
	    display: flex;
	    flex-wrap: wrap;
	    width: 100%;
	}
	.favorite-list-container {
	    width: 300px;
    	height: 400px;
	    border-radius: 10px;
	    overflow: hidden;
	    position: relative;
	    margin: 15px; /* 이미지 간 여백 조정 */
	    display: flex;
    	flex-direction: column;
    	transition: transform 0.3s ease, box-shadow 0.3s ease;
	}	
	.favorite-list-container img {
	    width: 100%;
	    height: 200px;
	    object-fit: cover;
	    margin: 0; 
    	padding: 0;
    	transition: transform 0.3s ease;
	}
	.favorite-list-container:hover {
	    transform: scale(1.05); /* 카드 크기 확대 */
	    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
	}
	.title-like-container {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    margin-top: auto; /* 자동 여백 추가 */
	    padding: 10px;
	}
	.card-title a {
		font-size: 15px;
    	margin: 0;
    	color: black;
    	text-decoration: none;    		
	}
	.card-title {
		font-size: 15px;
		margin-top: 5px;
        margin-left: 30px;
    	color: black;  		
	}
	.card-title:hover {
	   cursor: pointer;    
	}
	.like img {
		margin-top: 5px;
    	margin-right: 20px;
		width: 25px;
    	height: 25px;
    }
    @keyframes grow { 
    	0% { transform: scale(1); }
		50% { transform: scale(1.5); }
		100% { transform: scale(1); }
	}
		
	.like-animation {
		animation: grow 0.3s ease-in-out;
	}
	#recently-viewed-container h3 {
		font-size:15px;
		justify-content: center;
		display: flex;
		font-family: "Nanum Gothic Coding", monospace;
	}
	#recently-viewed-container {
	    position: absolute;
	    top: 30vh;
	    right: 0px; /* 오른쪽에서의 거리 */
	    z-index: 1000; /* 다른 요소보다 위에 있도록 z-index 설정 */
	    width: 250px; /* 필요에 따라 너비 조정 */
	    transition: top 0.3s ease, position 0.3s ease;
	}
	
	#recently-viewed {
	    max-height: 80vh; 
	    padding: 10px;	    
	}
	#recently-viewed img {
	    width: 100%;
	    height: 150px;
	    margin-top: 20px;
	    cursor: pointer;
	    border-radius: 5px;
	    /* border: 1px solid rgba(0, 0, 0, 0.2); */
	    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 흐릿한 테두리 */
		opacity: 0.95; /* 이미지 연하게 */
	}
	#recently-viewed img:hover {
	    transform: scale(1.01); /* 카드 크기 확대 */
	    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
		opacity: 1; /* 이미지 원래대로 */
	    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease; /* 애니메이션 추가 */
	}	
	.recent-item {
	    display: block;
	}
    