@charset "UTF-8";

main {
    margin-top: 5px;
}

main .card {
    width: 400px;
    padding: 30px;
    border: none;
}

form > input {
    height: 50px;
}

.card input:focus {
    box-shadow: none;
    background-color: transparent;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset ;
    -webkit-text-fill-color: #000;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

#id {
    margin-bottom: 30px;
}

#password {
    margin-bottom: 50px;
}

#id, #password {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #082567;
}

#btnSignin {
    margin-bottom: 15px;
    background-color: #082567;
}

.container-link {
    margin-top: 20px;
    height: 270px;
    text-align: center;
}

.container-link a {
    text-decoration: none;
    font-size: 14px;
    color: gray;
}
